.App {
  text-align: center;
}
/*Landing page */
.profile-picture {
  height: 35vmin;
  margin: 5%;
}

.App-header {
  background-image:url("./assets/ManhattahnB&W.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.intro {
  height: 100%;
  padding: 5%;
}

.intro-title {
  color: white;
  text-transform: none;;

}

@media only screen and (max-width: 768px) {
  .intro {
  padding-top: 15%;
  }
  .profile-picture {
    height: 45vmin;
    margin: 5%;
  }
}

@media only screen and (max-width: 426px) {
  .intro {
  padding-top: 25%;
  }
}

/* About */
.about {
  background-color: #ffffff;
  height: 100vh;
}

/* Experience */
.experience {
  background-color: #000000;
  height: 100vh;
}

/* Skills */
.skills {
  background-color: #ffffff;
  height: 100vh;
}

/* Contact */
.contact {
  background-color: #000000;
  height: 100vh;
}
