.App {
  text-align: center;
}

.profile-picture {
  height: 35vmin;
  margin: 5%;
}

.App-header {
  background-image:url("./assets/ManhattahnB&W.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.intro {
  height: 100%;
  padding: 5%;
}

.intro-title {
  color: white;
  text-transform: none;;

}

@media only screen and (max-width: 768px) {
  .intro {
  padding-top: 15%;
  }
  .profile-picture {
    height: 45vmin;
    margin: 5%;
  }
}

@media only screen and (max-width: 426px) {
  .intro {
  padding-top: 25%;
  }
}
